body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f4f8;  /* لون خلفية أكثر نعومة */
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;  /* خلفية بيضاء للمنطقة الرئيسية */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  /* إضافة ظل خفيف للمحتوى */
  border-radius: 10px;  /* تدوير الحواف */
}

h1 {
  color: #2c3e50;  /* لون داكن أكثر وضوحًا للعنوان */
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: center;
  margin: 10px 0;
  font-size: 1.1em;
  color: #7f8c8d;  /* لون داكن للكتابة */
}

input[type="file"] {
  display: block;
  margin: 20px auto;
  background-color: #eaf1f4;  /* خلفية خفيفة */
  border-radius: 5px;
  padding: 10px;
}

#filters {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
  color: #34495e;  /* لون جيد للنصوص */
}

select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ecf0f1;  /* خلفية خفيفة للقائمة */
  color: #34495e;
  font-size: 1.1em;
}

button {
  background-color: #3498db;  /* لون زر مميز */
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1em;
  width: 100%;
}

button:hover {
  background-color: #2980b9;  /* تدرج للزر عند التمرير */
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #7f8c8d;
  background-color: #2c3e50;
  padding: 10px;
  color: white;
  border-radius: 5px;
}